* {
	box-sizing: border-box;
}

html, body {
	font-size: 12px;
}

body{
	font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
	color: #151515;
	background-color: #fafafa;
	margin: 0;
	padding: 0;
	cursor: default;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	width: 320px;
	height: 530px;
	min-height: 500px;
	max-height: 500px; /* prevent double scrollbars in popup */
}

body.transitional{
	-webkit-transition-property: height;
}

.input {
	padding: 0.6rem 0.2rem;
	margin-bottom: 2px;
	background-color: #fefefe;
	border: none;
	border-bottom: 1px solid #ddd;
	/*border-radius: 3px;*/
	/*-webkit-transition: all ease-out 0.2s;*/
}

.input:focus {
	outline: none;
	background-color: #fff;
	margin-bottom: 1px;
	/*border-color: #3498db;*/
	border-bottom: 2px solid #2196F3;
	/*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);*/
}

.input:invalid {
	border-bottom-color: #DD6B74;
}

.container{
	/*background-color: #f3f3f3;*/
	display: -webkit-box;
	-webkit-box-orient: vertical;
	position: absolute;
	top: 30px;
	right: 0;
	bottom: 0;
	left: 0;
}

.search{
	/*padding: 0 2px 2px;*/
}
.search .input{
	border: 0;
	border-radius: 0;
	width: 100%;
	margin: 0;
	padding: 6px;
	padding-left: 14px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 12px center;
	background-color: transparent;
	transition: all ease 0.15s;
}

.search .input:focus {
	cursor: text;
	background-image: url(../images/search-active.svg);
	background-color: #fff;
	padding-left: 34px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.results,
.tree{
	outline: 0;
	padding: 3px 0;
	/*box-shadow: inset 0 4px 4px -4px rgba(0,0,0,.1);*/
	-webkit-box-flex: 1;
	/*text-shadow: 0 1px #f6f6f6;*/
	position: relative;
  overflow-y: auto;
}
.results ul,
.tree ul {
	list-style: none;
	margin: 0;
	padding: 1px 0;
	display: block;
}

.results ul li a,
.tree ul li a,
.tree ul li span{
	display: block;
	line-height: 1.67rem;
	padding: 2px 4px;
	text-decoration: none;
	color: #000;
	outline: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.results ul li a *,
.tree ul li a *,
.tree ul li span *{
	pointer-events: none;
}
.tree ul li span .twisty{
	display: inline-block;
	position: relative;
	width: 0;
	height: 0;
	border-width: 4px 0 4px 6px;
	border-color: transparent transparent transparent #A5A5A5;
	border-style: solid;
	margin: 0 4px;
	-webkit-transition: -webkit-transform .15s;
	-webkit-transform: scaleX(.99);
}

.tree ul li.open>span .twisty{
	-webkit-transform: rotate(90deg);
}

.results a img,
.results span img,
.tree a img,
.tree span img{
	margin-top: -2px;
	vertical-align: middle;
	margin-right: 4px;
}
.results ul li a img,
.tree ul li a img{
	margin-left: 16px;
}

.icon-folder {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: -2px;
	margin-right: 4px;
	background: url(../images/folder.svg) no-repeat;
	vertical-align: text-bottom;
}

[aria-expanded=true] > span .icon-folder {
	background-image: url(../images/folder-opened.svg);
}



.results ul li i,
.tree ul li i{
	font-style: normal;
}
.results ul li a:hover i,
.tree ul li a:hover i{
	/*text-decoration: underline;*/
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 50%);
	background-repeat: repeat-x;
	background-position: 0 1rem;
	background-size: 2px 2px;
}
.results ul li a:active,
.results ul li a.active,
.results ul li a:focus,
.tree ul li a:active,
.tree ul li span:active,
.tree ul li a.active,
.tree ul li span.active,
.tree ul li a:focus,
.tree ul li span:focus,
.cmd:focus{
	/*color: #fff;*/
	background-color: #E0E0E0;
	outline: 0;
}
.searchFocus .results ul>li:first-child a{
	background-color: rgba(43,93,205,.2);
}
/*#tree ul li span:active .twisty,
#tree ul li span.active .twisty,
#tree ul li span:focus .twisty{
	border-color: transparent transparent transparent #e5eef8;
}*/
.tree ul ul{
	height: 0;
	overflow: hidden;
}
.tree .open>ul{
	height: auto;
}
/*@-webkit-keyframes blueFade {
	0% {
		background-color: transparent;
	}
	10%{
		background-color: rgba(0,0,0,.15);
	}
	100% {
		background-color: transparent;
	}
}*/
/*#tree ul li a.focus,
#tree ul li span.focus{
	-webkit-animation-name: blueFade;
	-webkit-animation-duration: 3s;
}*/

.bookmark-clone{
	position: absolute;
	left: -999px;
	margin: -1em 0 0 -24px;
	white-space: nowrap;
	line-height: 1em;
	padding: .3em;
	padding-right: .5em;
	-webkit-mask-image: -webkit-gradient(linear, left top, 320 top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	pointer-events: none;
	cursor: default;
}

.bookmark-clone img{
	vertical-align: text-top;
	margin-right: 4px;
}
.bookmark-clone i{
	font-style: normal;
}
.drop-overlay{
	display: block;
	width: 100%;
	position: absolute;
	left: -999px;
	pointer-events: none;
	margin: -1px 0 0;
	-webkit-box-sizing: border-box;
	-box-sizing: border-box;
}

.drop-overlay.bookmark{
	margin-right: -3px;
	height: 3px;
	background-color: #000;
	border: 1px solid #fff;
}
.drop-overlay.folder{
	background-color: rgba(43,93,205,.2);
	border: 1px solid #5594d2;
	border-radius: 2px;
}

.context-menu {
	-webkit-transition: opacity .3s;
	opacity: 0;
	margin: 0;
	padding: 5px 0;
	list-style: none;
	position: absolute;
	left: -999px;
	border-radius: 3px;
	background-color: rgba(255,255,255,.96);
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	outline: 0;
	max-width: 100%;
}

.cmd{
	display: block;
	padding: 0 10px;
	line-height: 26px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform: capitalize;
}

.context-menu hr{
	border: 0;
	padding: 0;
	height: 1px;
	margin: 2px 0;
	background-color: #eee;
	pointer-events: none;
}

.context-menu.hide-editables hr,
.context-menu.hide-editables .cmd--folder-edit,
.context-menu.hide-editables .cmd--folder-delete{
	display: none;
}

.resizer{
	position: absolute;
	width: 4px;
	height: 100%;
	right: 0;
	top: 0;
	cursor: col-resize;
}

.cover{
	position: absolute;
	top: 0;
	left: -100%;
	bottom: 0;
	width: 100%;
	opacity: 0;
	background-color: rgba(0,0,0,.6);
}
.transitional .cover{
	-webkit-transition: opacity .3s;
}
.needAlert .cover,
.needConfirm .cover,
.needEdit .cover{
	left: 0;
	opacity: 1;
}

.needAlert .container, .needConfirm .container, .needEdit .container {
	/*-webkit-filter: blur(1px) saturate(0);*/
	/*-webkit-filter: brightness(0.4);*/
}

.needAlert .cover, .needConfirm .cover, .needEdit .cover {
	opacity: 1;
}

.dialog{
	position: absolute;
	background: #fff;
	opacity: 0;
	padding: 0.8rem;
	z-index: -1;
}

.dialog--normal {
	width: 280px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -60%);
	border-radius: 2px;
	box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}

.transitional .dialog{
	-webkit-transition-property: opacity, top;
	-webkit-transition-duration: .3s;
}

.dialog__footer {
	text-align: right;
	padding-top: 0.8rem;
}

.dialog__footer .button {
	margin-left: 0.8rem;
}

/*.dialog .input {
	margin-bottom: 0.4rem;
}*/

.dialog pre{
	white-space: pre-line;
	margin: 0;
	padding: 5px;
	/*line-height: 1.1em;*/
	-webkit-user-select: text;
	cursor: text;
	background-color: #fafafa;
}

.dialog .textfield {
	margin-bottom: 0.5rem;
}

.dialog .textfield .input {
	width: 100%;
}

/*.dialog--edit .buttons{
	margin: 0;
}*/
.dialog--edit .button{
	/*font-weight: bold;*/
}

.dialog__title{
	/*padding: 0 0 0.4rem;*/
	/*margin: 0;*/
	font-size: 1.5rem;
	text-transform: capitalize;
}

.button{
	min-height: 36px;
	padding: 0.4rem 1rem;
	border-radius: 2px;
	background: transparent;
	color: #2196F3;
	border: 0;
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
	-webkit-transition: all ease-in-out 0.25s;
}

.button:hover {
	background: rgba(0,0,0,0.1);
	/*box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
}

.button:active {
	background: rgba(0,0,0,0.15);
	/*box-shadow: 0 3px 4px rgba(0,0,0,0.2);*/
}

/*.button--primary {
	border: 0;
	background: #3498db;
	color: #fff;
}

.button-－primary:hover {
	background: #49AAEA;
}

.button-－primary:active {
	background: #3498db;
}*/

.needAlert .dialog--alert,
.needConfirm .dialog--confirm,
.needEdit .dialog--edit{
	/*top: 0;*/
	opacity: 1;
	z-index: 5;
}
