@use "@material/list";
@use "@material/switch";
@use "@material/card";
@use "@material/typography";

@import "variables.scss";

@include list.deprecated-core-styles;
@include switch.core-styles;
@include card.core-styles;
@include typography.core-styles;

* {
  --theme-primary: #3674E0;
  --selection-bg: rgba(0, 0, 0, 0.04);
  --selection-selected-bg: #E0EAFC;
  --bg: #f2f2f2;
  --section-bg: #fff;

  --headline-color: rgba(0, 0, 0, 0.65);
  --subtitle-color: rgba(0, 0, 0, 0.9);
  --body-color: rgba(0, 0, 0, 0.9);

  --divider-bg: rgba(0, 0, 0, 0.08);

  --dark: #444;
  --light: #fff;
  --yellow: #f4a60e;
  --trinidad: #d74c2e;
  --pastel: #6ad37c;
  --naval: #4277d7;
  --orchid: #993fd6;
  --gold: linear-gradient(#FFCE7A, #BA851E);

}

body {
  background: var(--bg);
  padding-bottom: 32px;
  overflow-x: hidden;
}

.section {
  border-radius: 4px;
  margin: 16px 0;
}

.section .mdc-card {
  background: var(--section-bg);
}

.headline {
  color: var(--headline-color);
}

.subtitle {
  padding-left: 16px;
  padding-inline-start: 16px;
  color: var(--subtitle-color);
}

.icon-list {
  width: 100%;
  padding: 0 0 16px 16px;
  padding-inline-start: 16px;
}

.icon-list-item {
  list-style: none;
  float: left;
  margin-right: 10px;
}

.icon-list-item__graphic {
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--selection-bg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    transform: scale(0.8);
  }
}

.icon-list-item__native-control {
  display: none;
}

.icon-list-item__native-control:checked ~ .icon-list-item__graphic {
  background-color: var(--selection-selected-bg);
  border: 2px solid var(--theme-primary);
}

.icon-list-item__graphic, .dark .icon-list-item__graphic {
  path {
    fill: #444;
  }
}

.light .icon-list-item__graphic {
  path {
    fill: #fff;
  }
}

@mixin graphic-path($colorCLass) {
  #{$colorCLass '.icon-list-item__graphic path'} {
    @content;
  }
}

.icon-list-item__graphic path {
  fill: var(--yellow);
};

@include graphic-path('.yellow') { 
  fill: var(--yellow);
};

@include graphic-path('.trinidad') { 
  fill: var(--trinidad);
};

@include graphic-path('.pastel') { 
  fill: var(--pastel);
};

@include graphic-path('.naval') { 
  fill: var(--naval);
};

@include graphic-path('.orchid') { 
  fill: var(--orchid);
};

@include graphic-path('.gold') { 
  fill: url(#gold);
};

@include graphic-path('.metalic') { 
  fill: url(#metalic);
};

.icon-style-list {
  padding: 16px;
  padding-inline-start: 16px;
}

.icon-style-list-item {
  display: inline-block;
}

.icon-style-list-item__label {
  display: block;
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  min-width: 40px;
  text-align: center;
  margin-right: 10px;
  background: var(--selection-bg);
  color: var(--body-color);
  transition: background 0.2s linear;
  border: 2px solid transparent;
}

.icon-list-item__native-control:checked ~ .icon-style-list-item__label {
  background: var(--selection-selected-bg);
  color: var(--theme-primary);
  font-weight: 700;
  border: 2px solid var(--theme-primary);
}

.icon-style-panel {
  overflow: hidden;
  transition: all 0.2s linear;
}

.icon-style-panel.hidden {
  height: 0;
}

.icon-color-list {
  padding: 16px;
  padding-inline-start: 16px;
}

.icon-color-list-item {
  display: inline-block;
  margin-right: 8px;
}

.icon-color-list-item__graphic {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);

  .icon-color-list-item__native-control:checked ~ & {
    box-shadow: 0 0 0 2px var(--theme-primary), inset 0 0 0 2px var(--section-bg);
  }

  &.dark {
    background: var(--dark);
  }

  &.light {
    background: var(--light);
  }

  &.yellow {
    background: var(--yellow);
  }

  &.trinidad {
    background: var(--trinidad);
  }

  &.pastel {
    background: var(--pastel);
  }

  &.naval {
    background: var(--naval);
  }

  &.orchid {
    background: var(--orchid);
  }

  &.gold {
    background: var(--gold);
  }
}

.icon-color-list-item__native-control {
  display: none;
}

/* Overrides of Material Design Components */


.mdc-list-divider {
  border-bottom-color: var(--divider-bg);
}

.mdc-switch {
  @include switch.toggled-on-color($theme-primary);
  @include switch.ripple-size(30px);
}

.mdc-list-item {
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;

  &__text {
    flex: 1;
  }

  &__meta {
    display: flex;
    align-items: center;
  }
}



@media (prefers-color-scheme: dark) {
  * {
    --selection-bg: #323639; /* toolbar color in dark mode */
    --selection-selected-bg: #63686d;
    --bg: #202124;
    --section-bg: #292a2d;
    --theme-primary: #8ab4f9;

    --headline-color: rgba(255, 255, 255, 0.7);
    --subtitle-color: rgba(255, 255, 255, 0.9);
    --body-color: #fff;
    --mdc-theme-text-primary-on-background: #fff;
    --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.7);

    --divider-bg: rgba(255, 255, 255, 0.12);

  }

  .mdc-switch {
    @include switch.toggled-on-color($theme-primary-dark);
    @include switch.toggled-off-track-color(#fff);
  }

  .mdc-list-item__text {
    color: var(--headline-color);
  }
}