@import "@material/button/mdc-button";
@import "@material/typography/mdc-typography";

@import "variables.scss";

* {
	--theme-primary: $theme-primary;
	--theme-warn: $theme-warn;
	--bg: #fafafa;
	--body-color: rgba(0, 0, 0, 0.8);

	--input-bg: rgba(0, 0, 0, 0.08);
	--list-focus-bg: rgba(54, 116, 224, 0.2);
	--menu-bg: #fff;
	--divider-bg: rgba(0, 0, 0, 0.12);

	--search-icon-fill: #5a5a5a;
	--folder-icon-url: url(chrome-extension://__MSG_@@extension_id__/images/folder.svg);
	--folder-open-icon-url: url(chrome-extension://__MSG_@@extension_id__/images/folder-open.svg);

	box-sizing: border-box;
}

body{
	font-size: 14px;
	color: var(--body-color);
	background-color: var(--bg);
	margin: 0;
	padding: 0;
	cursor: default;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	width: 340px;
	min-height: 500px;
	max-height: 500px; /* prevent double scrollbars in popup */
}

body.transitional{
	transition: height 0.12s ease-out;
	will-change: height;
}

.container{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 52px;
	right: 0;
	bottom: 0;
	left: 0;
}

.input {
	width: 100%;
	font-size: 14px;
	padding: 0.6rem 0.4rem;
	background-color: transparent;
	border: none;
	color: var(--body-color);
	transition: background 0.18s ease-out;
	will-change: background;

	&:focus {
		outline: 0;
		background-color: rgba(0, 0, 0, 0.06);
	}
}

.search {
	margin: 16px;
}

.search__textfield {
	position: relative;
	background: var(--input-bg);
	display: flex;
	align-items: center;
	border-radius: 18px;
	overflow: hidden;

	&__leading-icon {
		position: absolute;
		left: 8px;
		width: 20px;
		height: 20px; 
		background-size: cover;
		opacity: 0.6;
		transition: opacity 0.12s;
		will-change: opacity;

		svg {
			width: 100%;
			height: 100%;
		}

		svg path {
			fill: var(--search-icon-fill);
		}

		.input:focus ~ & {
			opacity: 1;
		}
	}

	.input {
		padding: 0.4rem;
		padding-left: 36px;
	}
}

.input--search {
	border: 0;
	border-radius: 0;
	width: 100%;
	margin: 0;
	padding: 8px;
	padding-left: 14px;
	cursor: pointer;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: 12px center;
	background-color: transparent;
	transition: all ease 0.15s;

	&:focus {
		cursor: text;
		background-image: var(--search-icon-url);
		padding-left: 34px;
		box-shadow: 0 2px 4px rgba(0,0,0,0.15);
		border: 0;
	}
}


.tree{
	outline: 0;
	padding: 3px 0;
	flex: 1;
	position: relative;
	overflow-y: auto;

	ul {
		list-style: none;
		margin: 0;
		padding: 1px 0;
		display: block;
	}

	li {

		a, span {
			color: var(--body-color);
			display: inline-flex;
			align-items: center;
			line-height: 1.67rem;
			padding: 2px 8px;
			text-decoration: none;
			outline: 0;
			white-space: nowrap;
			overflow: hidden;
			flex: 6 1 auto;
			width: 100%;

			* {
				pointer-events: none;
				text-overflow: ellipsis;
				overflow: hidden;
				font-style: normal;
			}

			.icon {
				flex: 0 0 auto;
			}

			&.active, &:focus {
				background-color: var(--list-focus-bg);
				outline: 0;
			}
		}

		.arrow {
			display: inline-block;
			position: relative;
			width: 0;
			height: 0;
			border-width: 4px 0 4px 6px;
			border-color: transparent transparent transparent #A5A5A5;
			border-style: solid;
			margin: 0 8px 0 4px;
			transition: transform .15s;
		}

		&.open>span {
			font-weight: 600;

			.arrow {
				transform: rotate(90deg);
			}
		}
	}
}

.icon {
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	background-size: cover;
	background-repeat: no-repeat;

	&--folder {
		background-image: var(--folder-icon-url);
	}
}

[aria-expanded=true] > span .icon--folder {
	background-image: var(--folder-open-icon-url);
}

.list {
	&--url {
		.icon {
			margin-left: 6px;
		}
	}
}



.searchFocus .tree--results ul>li:first-child a{
	background-color: rgba(43,93,205,.2);
}

.tree ul ul{
	height: 0;
	overflow: hidden;
}
.tree .open>ul{
	height: auto;
}

.context-menu {
	transition: opacity .3s;
	opacity: 0;
	margin: 0;
	padding: 5px 0;
	list-style: none;
	position: absolute;
	left: -999px;
	border-radius: 8px;
	background-color: var(--menu-bg);
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	outline: 0;
	max-width: 100%;

	hr{
		border: 0;
		padding: 0;
		height: 1px;
		margin: 2px 0;
		background-color: var(--divider-bg);
		pointer-events: none;
	}
}

.cmd {
	display: block;
	padding: 0 8px;
	line-height: 26px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform: capitalize;

	&:focus {
		background-color: var(--list-focus-bg);
		outline: 0;
	}
}

.context-menu.hide-editables hr,
.context-menu.hide-editables .cmd--folder-edit,
.context-menu.hide-editables .cmd--folder-delete{
	display: none;
}

.dialog{
	position: absolute;
	background: var(--menu-bg);
	opacity: 0;
	padding: 0.8rem;
	z-index: -1;

	pre{
		white-space: pre-line;
		margin: 0;
		padding: 5px;
		-webkit-user-select: text;
		cursor: text;
	}

	&__textfield {
		position: relative;
		margin-bottom: 1rem;
		width: 100%;
		background: var(--input-bg);
		border-radius: 4px;
		overflow: hidden;

		&__underline {
			width: 100%;
			background: var(--theme-primary);
			transform: scaleX(0);
			height: 2px;
			position: absolute;
			bottom: 0;
			transition: transform 0.18s ease-out;
			will-change: transform;

			.input:focus ~ & {
				transform: scaleX(1);
			}

			.input:invalid ~ & {
				background: var(--theme-warn);
			}
		}
	}

	&--normal {
		width: 280px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -60%);
		border-radius: 8px;
		box-shadow: 0 15px 20px rgba(0,0,0,0.2);
	}

	&__footer {
		text-align: right;
		padding-top: 0.8rem;

		.button {
			margin-left: 2rem;
		}
	}
}

.transitional .dialog{
	transition-property: opacity, top;
	transition-duration: .3s;
}

.resizer{
	position: absolute;
	width: 4px;
	height: 100%;
	right: 0;
	top: 0;
	cursor: col-resize;
}

.cover{
	position: absolute;
	top: 0;
	left: -100%;
	bottom: 0;
	width: 100%;
	opacity: 0;
	background-color: rgba(0,0,0,.6);
}
.transitional .cover{
	transition: opacity .3s;
}
.needAlert .cover,
.needConfirm .cover,
.needEdit .cover{
	left: 0;
	opacity: 1;
}

.needAlert .cover, .needConfirm .cover, .needEdit .cover {
	opacity: 1;
}

.bookmark-clone{
	position: absolute;
	left: -999px;
	margin: -1em 0 0 -24px;
	white-space: nowrap;
	line-height: 1em;
	padding: .3em;
	padding-right: .5em;
	-webkit-mask-image: -webkit-gradient(linear, left top, 320 top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	pointer-events: none;
	cursor: default;

	img {
		vertical-align: text-top;
		margin-right: 4px;
	}

	i {
		font-style: normal;
	}
}

.drop-overlay{
	display: block;
	width: 100%;
	position: absolute;
	left: -999px;
	pointer-events: none;
	margin: -1px 0 0;

	&.bookmark{
		margin-right: -3px;
		height: 3px;
		background-color: #000;
		border: 1px solid #fff;
	}
	
	&.folder{
		background-color: rgba(43,93,205,.2);
		border: 1px solid #5594d2;
		border-radius: 2px;
	}
}


.needAlert .dialog--alert,
.needConfirm .dialog--confirm,
.needEdit .dialog--edit{
	opacity: 1;
	z-index: 5;
}

// Overrides of material components

.mdc-button {
	@include mdc-button-ink-color($theme-primary);
}

.mdc-button--unelevated {
	@include mdc-button-filled-accessible($theme-primary);
}


// Dark mode
@media (prefers-color-scheme: dark) {
	* {
		--theme-primary: $theme-primary-dark;

		--bg: #202124;
		--body-color: rgba(255, 255, 255, 0.8);

		--menu-bg: #292c2f;
		--input-bg: #292c2f;

		--list-focus-bg: rgba(138, 180, 249, 0.5);

		--divider-bg: rgba(255, 255, 255, 0.12);

		--search-icon-fill: #fff;
		--folder-icon-url: url(chrome-extension://__MSG_@@extension_id__/images/folder-light.svg);
		--folder-open-icon-url: url(chrome-extension://__MSG_@@extension_id__/images/folder-open-light.svg);
	}

	.mdc-button {
		@include mdc-button-ink-color($theme-primary-dark);
	}

	.mdc-button--unelevated {
		@include mdc-button-filled-accessible($theme-primary-dark);
	}
}