$theme-primary: #3674E0;
$theme-secondary: #3674E0;
$theme-warn: #DD6B74;

$text-primary: rgba(0, 0, 0, 0.8);
$text-secondary: rgba(0, 0, 0, 0.55);

$theme-primary-dark: #8ab4f9;
$theme-secondary-dark: #8ab4f9;

$text-primary-dark: rgba(0, 0, 0, 0.8);